<% @links.each do |link| %>
<div style="margin-bottom: 5px;">
  <div class="row">
    <div class="columns small-6 small-centered" style="background-color: #cecece;">
      <a name="content" href="<%= link.url %>"><%= link.title %></a>
      <p>
        <%= link.created_at %>.</br>
        <%= link.user_id %>.</br>
        <%= link.channel_id %>.</br>
      </p>
    </div>
  </div>
</div>
<% end %>

<div class="row">
  <div class="columns small-12">
    <a name="title">title</a>
    <a name="url">url</a>
    <a name="timestamp">timestamp</a>
  </div>
</div>
